.tab-text{
  font-size: 1.7rem;
}

.v-card__title{
  font-size: 1.8rem;
}

.v-card__subtitle{
  font-size: 1.2rem;
}

.v-card__text{
  font-size: 1rem;
}

.v-application .text-h1, .v-application .text-lg-h1, .v-application .text-md-h1{
  font-family: 'Zen Antique' !important;
}

.v-application .text-h3, .v-application .text-lg-h3, .v-application .text-md-h3{
  font-family: 'Zen Antique' !important;
}

.v-application .text-h2, .v-application .text-sm-h1{
  font-family: 'Zen Antique' !important;
}

.v-application .text-h4, .v-application .text-lg-h4{
  font-family: 'Zen Antique' !important;
}

.v-application .text-h5, .v-application .text-md-h5{
  font-family: 'Zen Antique' !important;
}
.v-application .text-h6, .v-application .text-sm-h6{
  font-family: 'Zen Antique' !important;
}

.v-application .text-h6, .v-application .text-lg-h6,
.v-application .text-md-h6, .v-application .text-sm-h6{
  font-family: 'Zen Antique' !important;
}

.v-application .text-subtitle-1, .v-application .text-lg-subtitle-1,
.v-application .text-md-subtitle-1, .v-application .text-sm-subtitle-1{
  font-family: 'Zen Antique' !important;
}

.v-application .text-subtitle-2, .v-application .text-lg-subtitle-2,
.v-application .text-md-subtitle-2, .v-application .text-sm-subtitle-2{
  font-family: 'Zen Antique' !important;
}
